body{
  background-color: lightblue;
}
.App{
  background-color: rgb(49, 168, 168);
  min-height:500px;
  width: 350px;
  margin: 40px auto;
  border-radius: 10px;
}

#to-do-form input{
  background-color: lightblue;
  border: 0; 
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder{
  color: rgb(56, 53, 53);
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color:rgb(35, 247, 176); 
  cursor: pointer;
}
#to-do-form button:focus{
  outline: none;
}
h1{
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}